
.required.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  .invalid.ng-invalid.ng-dirty {
    border: 1px solid red;
  }

  .pad-left-right{
    padding-left:.1rem;
  }

  .deleteButton {
    margin: 1em;
  }

  .buttonDiv {
    margin-top: 1.5rem;
  }

  .groupDiv {
    min-height: 6rem;
    border: solid thin lightgrey;
  }

  .dragMsg {
    font-size: 2rem;
    color: darkgrey;
    margin-left: 3rem;
  }

  .list-group-item{
  padding: 0;
  }

  .group-contact{
    justify-content: space-between !important;
  }

  .group-contact-name-and-image{
    flex-grow: 1;
  }
