<div class="card">
    <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <h4>Contacts</h4>
              </div>

              <div class="row">
                <div class="col-md-7">
                  <div class="input-group">
                    <input
                    type="text"
                    class="form-control"
                    placeholder="Enter a search value"
                    #searchBox
                    (keyup)="search(searchBox.value)">

                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="search(searchBox.value)">Search</button>
                  </div>
                </div>

                </div>
                <div class="container">
                  <a type="button" class="btn btn-success new-contact-button" [routerLink]="['new']">New Contact</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div
        class="list-group"
        cdkDropList
        id="availableList">

          <div
            *ngFor="let singleContact of contacts | contactsFilter:term"
            cdkDrag
            [cdkDragData]="singleContact"
            class="list-group-item">

            <cms-contact-item
              [contact]="singleContact"
            ></cms-contact-item>
        </div>
      </div>
