<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-9">
                <h4>Contacts</h4>
            </div>
        <div class="col-xs-3">
            <button type="button" class="btn btn-success" [routerLink]="['new']">New Contact</button>
        </div>
    </div></div>
  
<div class="panel-body">
    <div class="row">
    <div class="col-xs-12">
        <cms-contact-item
        *ngFor="let singleContact of contacts"
        [contact]="singleContact"
        (click)="onSelected(singleContact)"></cms-contact-item>
    </div>
    </div>
</div>

</div>
