<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center p-2">
      <span class="title">Add Documents</span>
        <a class="btn btn-success add-item-link" [routerLink]="['new']">Add Document</a>
      </div>

    <div class="card-body">
      <div class="document-grid">
            <cms-document-item
              *ngFor="let singleDocument of documents"
              [document]="singleDocument"
            ></cms-document-item>
      </div>
    </div>

    </div>
